In [5]:
import pandas as pd

In [6]:
dataset_mortality_cancer_etc = pd.read_csv('mortality_cvd_crd_cancer_diabete_30_70.csv')
display(dataset_mortality_cancer_etc)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.630567,23.450471,23.210246,22.881440,22.531560,22.263812,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.700000,35.600000,35.600000,35.500000,35.400000,35.300000,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.331946,21.040685,20.797042,20.472531,20.240928,20.010834,NaN,NaN,NaN,NaN
4,Angola,AGO,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.800000,22.800000,22.600000,22.100000,22.100000,22.200000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.700000,26.600000,26.800000,27.100000,27.400000,27.600000,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.700000,28.800000,28.500000,27.800000,25.500000,24.100000,NaN,NaN,NaN,NaN
264,Zambia,ZMB,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.900000,26.600000,26.400000,26.200000,25.600000,24.600000,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.200000,31.100000,30.400000,29.300000,28.500000,28.400000,NaN,NaN,NaN,NaN

In [7]:
dataset_mortality_cancer_etc_unpivot = pd.melt(
                                        dataset_mortality_cancer_etc,
                                        id_vars = ["Country Name","Country Code","Indicator Name","Indicator Code","Unnamed: 67"],
                                        var_name = "Year",
                                        value_name="mortality_cvd_crd_cancer_diabete_30_70"    
                                                                )
display(dataset_mortality_cancer_etc_unpivot)

,Country Name,Country Code,Indicator Name,Indicator Code,Unnamed: 67,Year,mortality_cvd_crd_cancer_diabete_30_70
0,Aruba,ABW,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,1960,NaN
1,Africa Eastern and Southern,AFE,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,1960,NaN
2,Afghanistan,AFG,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,1960,NaN
3,Africa Western and Central,AFW,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,1960,NaN
4,Angola,AGO,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,1960,NaN
...,...,...,...,...,...,...,...
16753,Kosovo,XKX,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,2022,NaN
16754,"Yemen, Rep.",YEM,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,2022,NaN
16755,South Africa,ZAF,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,2022,NaN
16756,Zambia,ZMB,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,2022,NaN
16757,Zimbabwe,ZWE,"Mortality from CVD, cancer, diabetes or CRD be...",SH.DYN.NCOM.ZS,NaN,2022,NaN

In [8]:
dataset_mortality_cancer_etc_unpivot = dataset_mortality_cancer_etc_unpivot.drop(['Indicator Name','Indicator Code','Unnamed: 67'],axis=1)
display(dataset_mortality_cancer_etc_unpivot)

,Country Name,Country Code,Year,mortality_cvd_crd_cancer_diabete_30_70
0,Aruba,ABW,1960,NaN
1,Africa Eastern and Southern,AFE,1960,NaN
2,Afghanistan,AFG,1960,NaN
3,Africa Western and Central,AFW,1960,NaN
4,Angola,AGO,1960,NaN
...,...,...,...,...
16753,Kosovo,XKX,2022,NaN
16754,"Yemen, Rep.",YEM,2022,NaN
16755,South Africa,ZAF,2022,NaN
16756,Zambia,ZMB,2022,NaN
16757,Zimbabwe,ZWE,2022,NaN

In [9]:
dataset_mortality_cancer_etc_unpivot.to_csv('dataset_mortality_cvd_crd_cancer_diabete_30_70.csv')